

<div>

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#tabStyleGuide" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-retweet icon-cloud"></span> Style guide</a></li>
		<li role="presentation"><a href="#tabSimpleControls" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-list-alt icon-list"></span> Basic</a></li>
		<li role="presentation"><a href="#tabAdvControls" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-tasks icon-activity"></span> Advanced</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="tabStyleGuide">
			<div class="style-guide">
				<h3>Style guides</h3>
				<p><a href='http://jackalope.splunk.com/style-guide/latest'>http://jackalope.splunk.com/style-guide/latest</a></p>				
			</div>
		</div>

		<div class="tab-pane" id="tabSimpleControls">
			<div class="simple-controls"></div>
		</div>

		<div class="tab-pane" id="tabAdvControls">
			<div class="advanced-controls">
				<div class='tables'>
	                <table class="table table-chrome table-striped table-hover">
	                </table>
                </div>

				<div id="icons-examples">
					<div class='icons description'>Icons</div>
				</div>
                <div class="alert alert-info">
                    <i class="icon-alert"></i>Info!
                </div>

                <div class="alert alert-warning">
                    <i class="icon-alert"></i>Warning!
                </div>

                <div class="alert alert-error">
                    <i class="icon-alert"></i>Error!
                </div>

			</div>
		</div>
	</div>


</div>
